export TELEGRAM_BOT_TOKEN="<Bot Token from @Botfather>"
export URL_POST_EXPENSE="<API Request enpoint [POST] to database>"
export URL_SORTDESC="<GET Request endpoint>"
export URL_CATEGORIES="<GET Request endpoint>"
export URL_VIEW_EXPENSE="<GET Request endpoint>"
export URL_USER_BY_CHATID="<relevant endpoint>"
export URL_POST_USER="<relevant endpoint>"
export MONGO_HOST="<URL of MONGO database host>"
export MONGO_DATABASE_NAME="<Name of the database to be used>"
export MONGO_COLLECTION_NAME="<Name of the collection to be used>"